td {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid black;
}
.header, .players {
    display: flex;
    flex-direction: row;
}
h2 {
    margin-right: 5px;
    margin-left: 5px;
}