<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=“shortcut icon” href=“favicon.ico”>
    <link rel="stylesheet" href="game.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Ship Locations!</title>
</head>

<body>
    <div id="app">
        <button v-on:click="back">Back to games list</button>
        <div class="header">
            <div class="players" v-for="(player,i) in gameData.gamePlayers" :key="i">
                <h1 v-if="player.player.playerId == gameData.playerId">{{player.player.userName}} (you)</h1>
                <h1 v-else>{{player.player.userName}}</h1>
                <h1 v-if="i == 0">vs.</h1>
            </div>
        </div>
        <div class="play">
            <div v-if="allShips">
                <h2>Your shots</h2>
                <table id="salvoes"></table>
            </div>
            <div v-else class="row">
                <div class="col-6">
                    <div class="direction" v-on:click="pickShipsDirection('horizontal')">
                        <p>Horizontal</p>
                        <table id="horizontal">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="direction" v-on:click="pickShipsDirection('vertical')">
                        <p>Vertical</p>
                        <table id="vertical">
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-6">
                    <div class="ship" v-on:click="pickShip('carrier')">
                        <p>Carrier</p>
                        <table id="carrier">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="ship" v-on:click="pickShip('battleship')">
                        <p>Battleship</p>
                        <table id="battleship">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="ship" v-on:click="pickShip('destroyer')">
                        <p>Destroyer</p>
                        <table id="destroyer">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="ship" v-on:click="pickShip('submarine')">
                        <p>Submarine</p>
                        <table id="submarine">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="ship" v-on:click="pickShip('portalBoat')">
                        <p>Portal boat</p>
                        <table id="portalBoat">
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <h2>Your ships</h2>
                <table id="ships"></table>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="game.js"></script>
</body>

</html>