#error {
    color: red;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: dodgerblue;
    min-height: 60px;
}

.userLogin {
    margin-left: 10px;
    min-width: 265px;
}

.head {
    margin-top: 5px;
    justify-content: center;
}

.nav {
    min-width: 275px;
}

.login {
    margin-top: 10px;
}

.main {
    margin-top: 100px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

#navLeaderboard, #navGames {
    border: #232741 1px solid;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

#navLeaderboard:hover, #navGames:hover {
    background: deepskyblue;
}

.main h1 {
    text-decoration: underline;
}

.body {
    text-align: center;
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
}

.loginAndRegister {
    margin-left: 20%;
}

.games h1, .leaderboard h1 {
    margin-bottom: 20px;
}




body {
    width: 98%;
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #232741;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
    z-index: -100;
    top: 0;
    left: 0;
}

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}