<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=“shortcut icon” href=“favicon.ico”>
    <link rel="stylesheet" href="games.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Salvo</title>
</head>

<body>
    <div id="app" class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="login" v-if="gamesData.current == null">
                <div v-if="loginOrSignUp">
                    <h1>Login</h1>
                    <table>
                        <tr>
                            <td>Email:</td>
                            <td><input id="email" type='text' name='email' value='' /></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input id="password" type='password' name='password' value='' /></td>
                        </tr>
                        <tr>
                            <td><button v-on:click="login">Login</button></td>
                        </tr>
                        <tr>
                            <td><button v-on:click="loginChange">Sign up</button></td>
                        </tr>
                    </table>
                </div>
                <div v-else>
                    <h1>Sign up</h1>
                    <table>
                        <tr>
                            <td>User Name:</td>
                            <td><input id="userName" type='text' name='userName' value='' /></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input id="email" type='text' name='email' value='' /></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input id="password" type='password' name='password' value='' /></td>
                        </tr>
                        <tr>
                            <td><button v-on:click="register">Sign up and login</button></td>
                        </tr>
                        <tr>
                            <td><button v-on:click="loginChange">Back to login</button></td>
                        </tr>
                    </table>
                    <div v-if="errorStatus" id="error">
                        <h2>{{errorMessage.responseJSON.status}}</h2>
                        <h3>{{errorMessage.responseJSON.message}}</h3>
                    </div>
                </div>
            </div>
            <div class="logout" v-else>
                <button v-on:click="logout">Logout</button>
            </div>
        </div>
        <div class="row col-12 col-md-6 col-lg-8">
            <div class="leaderboard col-12 col-lg-6">
                <h1>Top 25 players</h1>
                <table id="scores">
                    <thead>
                        <th>Player</th>
                        <th>Total score</th>
                        <th>Wins</th>
                        <th>Ties</th>
                        <th>Loses</th>
                    </thead>
                    <tbody>
                        <tr v-for="player in top25score">
                            <td>{{player.userName}}</td>
                            <td>{{player.totalScore}}</td>
                            <td>{{player.wins}}</td>
                            <td>{{player.ties}}</td>
                            <td>{{player.loses}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="games col-12 col-lg-6">
                <table class="container" id="gamesList">
                    <tbody v-for="(game,i) in gamesData.games" v-bind:key="i">
                        <tr v-if="(game.players.length == 2)">
                            <td>game {{i + 1}}</td>
                            <td>{{game.players[0].userName}} vs. {{game.players[1].userName}}</td>
                            <td v-if="userIslogged">
                                <button v-if="game.players[0].playerid == gamesData.current.playerId" v-on:click="returnToGame(i, j=0)">Return
                                    to game</button>
                                <button v-if="game.players[1].playerid == gamesData.current.playerId" v-on:click="returnToGame(i, j=1)">Return
                                    to game</button>
                            </td>
                            <td v-else>game is full</td>
                        </tr>
                        <tr v-else-if="(game.players.length == 1)">
                            <td>game {{i + 1}}</td>>
                            <td>{{game.players[0].userName}}</td>
                            <td v-if="gamesData.current != null">
                                <button v-if="game.players[0].playerid == gamesData.current.playerId" v-on:click="returnToGame(i, j=0)">Return
                                    to game</button>
                                <button v-else v-on:click="joinGame(i)">Join the game</button>
                            </td>
                            <td v-else><button v-on:click="joinGame(i)">Join the game</button></td>
                        </tr>
                    </tbody>
                </table>
                <button v-on:click="createGame">Create new game</button>
                <div v-if="errorStatus" id="error">
                    <h2>{{errorMessage.responseJSON.status}}</h2>
                    <h3>{{errorMessage.responseJSON.message}}</h3>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="games.js"></script>
</body>

</html>