td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}
.header, .players {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1 {
    margin-right: 5px;
    margin-left: 5px;
}
.play {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    text-align: center;
}
#ships, #salvoes {
    margin-bottom: 20px;
    margin: auto;
}

#app {
    color: white;
}

.place {
    text-align: left;
}

.pick p {
    margin-top:15px;
}

.pick table {
    margin-top: -5px;
}

.pick button {
    margin-top:22px;
}

.pick h5 {
    text-align: center;
}

.note {
    text-align: center;
}

.state p, #shootSalvo {
    margin-top: 30px;
}

body {
    width: 98%;    
}

#history {
    background-color: #232741;
    width: 103%;
    text-align: center;
}

#table {
    width: 70%;
    margin-top: 25px;
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: #232741;
    background-image: url("");
    background-position: 50% 50%;
    z-index: -100;
    top: 0;
    left: 0;
    background-size: contain;
}

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}